.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

// // 1200 +
// @media screen and (max-width: 1200px) {
//   .container {
//     height: 1200px;
//     width: 664px;
//   }
// }

// //  768 +
// @media screen and (max-width: 768px) {
//   .container {
//     width: 768px;
//     height: 416px;
//   }
// }

// 480 +

@media screen and (max-width: 480px) {
  .container {
    width: 480px;
    height: 90px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

// Normalize

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

* {
  font-family: 'DM Sans', 'sans-serif', 'Titan One', 'cursive';
}

.item {
  flex-basis: calc((100% - 140px) / 5);
}
