.logo {
  margin-right: 90px;
  margin-left: 30px;
  padding-top: 54px;
  transition-property: transform;

  &:hover {
    transform: scale(1.3);
    transition-duration: 2000ms;
  }
}

.header {
  width: 100%;
  height: 664px;
  background-color: $color-background;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 52px;
}

.header__list {
  margin-right: 35px;
}

.header__link {
  padding-top: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  font-family: $font-family;
  color: $color-titles;
  text-decoration: none;
  font-style: normal;
  transition: color 500ms $cubic;

  &:focus,
  &:hover {
    color: $color-primary;
    font-family: $font-family-titan;
  }
}

// Style button header

.button {
  margin-left: auto;
  margin-right: 30px;
  padding-top: 40px;
  transition-property: transform;

  &:hover {
    transform: scale(0.75);
    transition-duration: 2000ms;
  }
}

.button__header {
  width: 159px;
  height: 44px;
  border-radius: 22px;
  background-color: $color-titles;
  color: $color-primary;
  border: none;
  cursor: pointer;
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  &:focus,
  &:hover {
    font-family: $font-family-titan;
  }
}

// Article header

.article {
  width: 277px;
  margin-left: 30px;
  margin-top: 70px;
}

.article__paragraph {
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04px;
  font-style: normal;
  text-transform: uppercase;
  font-family: $font-family-titan;
  color: $color-titles;
}

.article__passion {
  font-weight: 400;
  font-size: 58px;
  letter-spacing: 0.04px;
  text-transform: uppercase;
  font-family: $font-family-titan;
  color: $color-primary;
}

// Button article

.button__article {
  margin-left: 30px;
  margin-top: 24px;
  display: flex;
}

.button__product {
  width: 107px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: $color-primary;
  color: $color-titles;
  font-family: $font-family;
  transition: font-family 500ms $cubic;

  &:focus,
  &:hover {
    font-family: $font-family-titan;
  }
}

.button__how {
  width: 138px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  border-radius: 20px;
  margin-left: 8px;
  border: none;
  cursor: pointer;
  background-color: $color-titles;
  color: $color-primary;
  font-family: $font-family;

  &:focus,
  &:hover {
    font-family: $font-family-titan;
  }
}

// Images milk

.images__milk {
  margin-left: 30px;
  margin-top: 40px;
  display: flex;
}

.milk__paragraph {
  width: 200px;
  margin-top: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  font-family: $font-family;
  color: $color-titles;
}

.right__arrow {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: $color-primary;
  background-color: $color-titles;
  display: flex;
  align-items: center;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 500ms $cubic;
  transition: background-color 500ms $cubic;
}

.right__arrow:hover,
.right__arrow:focus {
  fill: $color-titles;
  background-color: $color-primary;
}

// Images eat ice cream

.icecream {
  margin-left: 43%;
}
