.conteiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.card-container {
	padding-top: 250px;
	position: relative;
}

.cream {
  background-color: #ffb8ca;
  height: auto;
  width: 368px;
  border-radius: 24px;
	padding: 150px 50px 30px 50px;
	display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
  text-align: center;
  position: relative;
	opacity: 0.9;
	transition: opacity 500ms $cubic;
	transition: font-size 500ms $cubic;

	&:focus,
	&:hover {
		opacity: 1.0;
		box-shadow: 0px 5px 10px 2px rgb(134, 133, 133);
		cursor: pointer;

		.cream_title {
			font-size: 35px;
		}

		.cream_paragraph {
			font-size: 18px;
		}
	}
}

.cream_picture {
  position: absolute;
  top: -270px;
  left: 2px;
}

.cream_title {
  display: flex;
  justify-content: center;
  align-items: center;
	font-family: $font-family-titan;
  color: $color-titles;
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.cream_paragraph {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: center;
  justify-content: center;
  color: $color-titles;
	margin: 15px 0;
}

.coffee {
  background-color: #f0d1a5;
}

.milkshakes {
  background-color: #c2e297;
}

.brown_points {
	fill: $color-titles;
  margin: 15px 0;
}

.right {
  margin: 15px 0;
}
