.section{
    &__flex{
     max-width: 1330px;
        max-height: 350px;
      display: grid;
     grid-template-columns:repeat(15, 1fr);
     grid-template-rows: repeat(14,1fr);
    row-gap:4px;
    column-gap: 6px;
    padding-left: 180px;

  
     }
     &__icecream-1{
        grid-column: 2/4;
        grid-row: 5/15;
     }
     &__icecream-2{
        grid-column: 4/7;
        grid-row: 2/8;
     }
     &__icecream-3{
        grid-column: 4/13;
        grid-row: 8/11;
     }
     &__icecream-4{
        grid-column: 10/6;
        grid-row: 1/10;
     }
     &__icecream-5{
        grid-column: 13/6;
        grid-row: -1/11;
     }
     &__icecream-6{
        grid-column: 10/20;
        grid-row: 4/12;
     }
     &__icecream-7{
        grid-column: -2/10;
        grid-row: 10/-1;
     }
     &__icecream-8{
        grid-column: 12/-2;
        grid-row: 2/10;
     }
     &__icecream-9{
        grid-column: 17/14;
        grid-row: 6/-1;
     }
     &__icecream-10{
        grid-column: 20/12;
        grid-row: 8/-1;
     }
    
    &__testimonial{
        display: flex;
        align-items: center;
        justify-content: center;
       padding-top: 100px;
      
       
    }
    &__style{
        width: 968px;
        height: 138px;
        background: #FAFAFA;
        display: flex; 
        justify-content: center;  
        align-items: center; 
        margin: auto;
        
     
       
    }
    &__tex{
        width: 750px;
height: 52px;
$font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 186%;
text-align: center;
letter-spacing: 0.04em;
$color-paragraphs: #000000;
margin-top: 20px;
    }
    &__comillas{
        width: 54px;
 height: 40px;
  left: 242px;
 top: 3580px;
 fill: #E1E1E1;
    }
    &__positions-svg{
        margin-left: 20px;
        
    }
    &__puntos{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }
    &__puntos-decoration{
        fill: #C7133E;
    }
   &__emily{
    display: flex;
    align-items: center;
    justify-content: center;
   }
 &__h3{
    width: 172px;
height: 31px;
$font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 186%;
text-align: center;
color: #000000;
 }
 &__house{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-right: 30px; 
 }
 &__house-color{
   fill:  #907e82;
   &:hover{
    fill: #C7133E;
    cursor: pointer;
   }
 }

}



