.tradition {
  background-color: #fff5f6;
  padding: 10vh 0;

  &__bg {
    background-image: url(../images/traditionbg.png);
    background-repeat: no-repeat;
    background-size: 100vw;
  }

  &__titles {
    text-align: center;
    margin-bottom: 6vh;

    &--title1 {
      font-family: $font-family-titan;
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: $color-secondary;
      margin-bottom: 2vh;
    }

    &--title2 {
      font-family: $font-family-titan;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 55px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $color-primary;
    }
  }

  &__info {
    display: flex;
    justify-content: space-around;
    margin: 5vh 0;
  }

  &__picture {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  &__expo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding: 6vh 3vw;
  }

  &__text {
    font-family: $font-family;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-align: left;
    color: $color-paragraphs;
    margin: 3vh 0;
  }

  &__features {
    display: flex;
    justify-content: flex-start;
    padding: 3vh 3vw;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 30vw;
    margin-right: 10vw;

    &--svg {
      fill: $color-secondary;
      margin-bottom: 2vh;
    }
    &--number {
      font-family: $font-family-titan;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.04em;
      color: $color-primary;
      margin-bottom: 3vh;
    }
    &--text {
      font-family: $font-family;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 174%;
      color: $color-paragraphs;
    }
  }
}

// Animations traditionsection

.tradition__picture:hover {
  animation: turn 10s;
}

@keyframes turn {
  50% {
    transform: rotate(90deg);
  }
}

.tradition__card--svg {
  animation: turns 10s infinite;
}
@keyframes turns {
  50% {
    transform: rotate(720deg);
  }
}

.tradition__features:hover {
  animation: girar 8s;
}

@keyframes girar {
  50% {
    transform: rotate(-360deg);
  }
}

// Button

.button__header {
  transition-property: transform;

  &:hover {
    transform: scale(0.75);
    transition-duration: 2s;
  }
}

// tradition

.tradition {
  background: linear-gradient(130deg, #fff5f6, #fce9f1, #facbda);
  background-size: 400% 400%;
  animation: degrade 8s ease infinite;
}

@keyframes degrade {
  0% {
    background-position: 1% 50%;
  }

  50% {
    background-position: 99% 50%;
  }

  100% {
    background-position: 1% 50%;
  }
}
