$color-primary: #d41443;
$color-secondary: #ffa5ba;
$color-titles: #ffffff;
$color-paragraphs: #000000;
$color-detail: #907e82;
$color-background: #ffb8ca;
$color-background-secondary: #fff5f6;
$font-family: 'DM Sans';
$font-family-titan: 'Titan One';
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
