<footer class="footer">
  <main class="footer__initial">
    <section class="footer__card-positions">
      <div class="footer__estil-card">
        <div class="footer__cafe-tit">
          <h3 class="footer__cofi-tex">CAFE</h3>
        </div>
        <div>
          <h4 class="footer__h4-tex">Chicago</h4>
          <p class="footer__tex">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="footer__display">
          <div class="footer__positions">
            <h4 class="footer__day">Monday - Friday</h4>
            <p class="footer__horarios">06:00 AM - 10:00 PM</p>
            <h4 class="footer__day2">Saturday-Sunday</h4>
            <p class="footer__horarios">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div>
          <ul class="footer__display">
            <div class="footer__estil">
              <li class="footer__tel-direc">
                <a href="tel:+61(0)383766284">+61(0)383766284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="footer__estil-card">
        <div class="footer__green">
          <h3 class="footer__food-tex">FOOD TRUCK</h3>
        </div>
        <div>
          <h4 class="footer__h4-tex">Los Angeles</h4>
          <p class="footer__tex">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="footer__display">
          <div class="footer__positions">
            <h4 class="footer__day">Monday-Friday</h4>
            <p class="footer__horarios">06:00 AM - 10:00 PM</p>
            <h4 class="footer__day2">Saturday-Sunday</h4>
            <p class="footer__horarios">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div>
          <ul class="footer__display">
            <div class="footer__estil">
              <li class="footer__tel-direc">
                <a href="tel:+61(0)383766284 ">+61(0)383766284 </a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div class="footer__estil-card">
        <div class="footer__cafe-tit">
          <h3 class="footer__cofi-tex">CAFE</h3>
        </div>
        <div>
          <h4 class="footer__h4-tex">New York</h4>
          <p class="footer__tex">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="footer__display">
          <div class="footer__positions">
            <h4 class="footer__day">Monday - Friday</h4>
            <p class="footer__horarios">06:00 AM - 10:00 PM</p>
            <h4 class="footer__day2">Saturday-Sunday</h4>
            <p class="footer__horarios">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div>
          <ul class="footer__display">
            <div class="footer__estil">
              <li class="footer__tel-direc">
                <a href="tel:+61(0)383766284">+61(0)383766284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </section>
    <div class="footer__aling">
      <button type="button" class="footer__boton" type="submit">
        Our Locations >
      </button>
      <div>
        <button type="button" class="footer__boton-white" type="submit">
          Franchise >
        </button>
      </div>
    </div>

    <div class="footer__info">
      <div class="footer__avisos">
        <p class="footer__estyl-avisos">homemade ice cream made</p>
        <p class="footer__estyl-avisos2">with passion</p>
      </div>
      <div class="footer__contact">
				<div class="footer__icons">
					<div class="footer__icon-clas">
						<svg class="footer__svg" width="30" height="20">
							<use href="./images/icons-svg.svg#github"></use>
						</svg>
					</div>
					<div class="footer__icon-clas">
						<svg class="footer__svg" width="30" height="18">
							<use href="./images/icons-svg.svg#telegram"></use>
						</svg>
					</div>
					<div class="footer__icon-clas">
						<svg class="footer__svg" width="30" height="20">
							<use href="./images/icons-svg.svg#facebook"></use>
						</svg>
					</div>
				</div>
				<div class="footer__icons">
					<div class="footer__flex-tel">
						<span class="footer__flex-tel--1">Feel free to contact</span>
						<a  class="footer__flex-tel--2"href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
					</div>
				</div>
      </div>
    </div>
    <div class="footer__reserved">
      <div class="footer__coprin">
        <h6>© 2022 - IceCream. All Rights Reserved.</h6>
      </div>
    </div>
  </main>
</footer>
