<header class="header">
  <div class="header__container container">
    <nav class="header__nav">
      <a href="#" class="logo">
        <svg width="199" height="50">
          <use href="./images/icons-svg.svg#icecream-logo"></use>
        </svg>
      </a>
      <ul class="header__navigation">
        <li class="header__list">
          <a href="#" class="header__link">Home</a>
        </li>
        <li class="header__list">
          <a href="#" class="header__link">About us</a>
        </li>
        <li class="header__lis">
          <a href="#" class="header__link">How its made?</a>
        </li>
        <li class="header__list">
          <a href="#" class="header__link">Our products</a>
        </li>
        <li class="header__list">
          <a href="#" class="header__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="button">
      <button type="button" class="button__header" type="submit">
        Buy now >
      </button>
    </div>
  </div>
  <article class="article container">
    <p class="article__paragraph">
      ice cream made with <span class="article__passion">passion</span>
    </p>

    <ul class="number__list">
      <li><h2 class="number circle">16</h2></li>
      <li><p class="number__text">cafes</p></li>
      <li><h2 class="number23 circle">23</h2></li>
      <li><p class="number__text23">food</p></li>
    </ul>
  </article>

  <div class="button__article container">
    <button type="button" class="button__product" type="submit">
      Products
    </button>
    <button type="button" class="button__how" type="submit">
      How its made?
    </button>
  </div>
  <article class="images__milk container">
    <img src="./images/milk1.png" alt="milk bottle" class="milk__bottle" />
    <p class="milk__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
      <button type="button" class="right__arrow">
        <svg width="16" height="16" class="right">
          <use href="./images/icons-svg.svg#right-arrow"></use>
        </svg>
      </button>
    </p>

    <ul class="images__list list">
      <li>
        <svg width="534" height="534" class="svg__circle">
          <use href="./images/ellipse1.svg#icon-Ellipse-3-1"></use>
        </svg>
        <img src="./images/ice-cone1.png" alt="ice cone" class="icecone" />
      </li>
      <li>
        <img
          src="./images/eat-icecream1.png"
          alt="eat icecream"
          class="eat__icecream"
        />
      </li>
    </ul>
    <div class="bubbles">
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
    </div>
  </article>
</header>
