<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <a href="#" class="logo">ICECREAM</a>
      <ul class="header__navigation">
        <li class="header__list"><a href="#" class="header__link">Home</a></li>
        <li class="header__list">
          <a href="#" class="header__link">About us</a>
        </li>
        <li class="header__list">
          <a href="#" class="header__link">How its made?</a>
        </li>
        <li class="header__list">
          <a href="#" class="header__link">Our products</a>
        </li>
        <li class="header__list">
          <a href="#" class="header__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="button">
      <button type="button" class="button__header" type="submit">
        Buy now >
      </button>
    </div>
  </div>
</header>
