<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <a href="#" class="logo">
        <svg width="199" height="50">
          <use href="./images/icons-svg.svg#icecream-logo"></use>
        </svg>
      </a>
      <ul class="header__navigation">
        <li class="header__list"><a href="#" class="header__link">Home</a></li>
        <li class="header__list">
          <a href="#" class="header__link">About us</a>
        </li>
        <li class="header__list">
          <a href="#" class="header__link">How its made?</a>
        </li>
        <li class="header__list">
          <a href="#" class="header__link">Our products</a>
        </li>
        <li class="header__list">
          <a href="#" class="header__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="button">
      <button type="button" class="button__header" type="submit">
        Buy now >
      </button>
    </div>
  </div>
  <article class="article">
    <p class="article__paragraph">
      ice cream made with <span class="article__passion">passion</span>
    </p>
  </article>
  <div class="button__article">
    <button type="button" class="button__product" type="submit">
      Products
    </button>
    <button type="button" class="button__how" type="submit">
      How its made?
    </button>
  </div>
  <article class="images__milk">
    <img src="./images/milk.png" alt="milk bottle" />
    <p class="milk__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et

      <button type="button" class="right__arrow right__arrow--circle">
        <svg width="16" height="16">
          <use href="./images/icons-svg.svg#right-arrow"></use>
        </svg>
      </button>
    </p>
  </article>
</header>
