<!-- Js mobile menu-->

<div class="menu-container js-menu-container" id="mobile-menu container">
  <button class="menu-toggle js-close-menu">
    <svg width="18" height="18" class="close-button">
      <use href="./images/close.svg#icon-close"></use>
    </svg>
  </button>
  <div class="btn">
    <button type="button" class="btn__mobile" type="submit">Buy now ></button>
  </div>
  <ul class="mobile-menu">
    <li><a href="#" class="mobile__link">Home</a></li>
    <li><a href="#" class="mobile__link">About us</a></li>
    <li><a href="#" class="mobile__link">How its made?</a></li>
    <li><a href="#" class="mobile__link">Our products</a></li>
    <li><a href="#" class="mobile__link">Contact</a></li>
  </ul>

  <div class="bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>
</div>
