<section class="section">
  <h3 class="tradition__titles--title1">100% natural</h3>
  <p class="tradition__titles--title2">Products</p>
  <ul class="conteiner">
    <li class="card-container">
      <div class="cream">
        <img class="cream_picture" src="./images/home1.png" alt="ice cream" />
        <p class="cream_title">ice cream</p>
        <svg class="brown_points" width="25" height="25">
          <use href="./images/icons-svg.svg#brown-points"></use>
        </svg>
        <p class="cream_paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="right__arrow">
          <svg width="16" height="16" class="right">
            <use href="./images/icons-svg.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="card-container">
      <div class="cream coffee">
        <img class="cream_picture" src="./images/home2.png" alt="coffee" />
        <p class="cream_title">ice coffee</p>
        <svg class="brown_points" width="25" height="25">
          <use href="./images/icons-svg.svg#brown-points"></use>
        </svg>
        <p class="cream_paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="right__arrow">
          <svg width="16" height="16" class="right">
            <use href="./images/icons-svg.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="card-container">
      <div class="cream milkshakes">
        <img
          class="cream_picture"
          src="./images/home3.png"
          alt="milkshakes"
        />
        <p class="cream_title">milkshakes</p>
        <svg class="brown_points" width="25" height="25">
          <use href="./images/icons-svg.svg#brown-points"></use>
        </svg>
        <p class="cream_paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="right__arrow">
					<svg width="16" height="16" class="right">
						<use href="./images/icons-svg.svg#right-arrow"></use>
					</svg>
				</button>
      </div>
    </li>
  </ul>
</section>
