<section class="section">
  <h3 class="tradition__titles--title1">100% natural</h3>
  <p class="tradition__titles--title2">Products</p>
  <ul class="conteiner">
    <li class="card-container">
      <div class="cream">
				<div class="cream_picture">
					<img class="creampicture" src="./images/creampicturebig.png" alt="ice cream" />
				</div>        
        <p class="cream_title">ice cream</p>
        <svg class="brown_points" width="25" height="25">
          <use href="./images/icons-svg.svg#brown-points"></use>
        </svg>
        <p class="cream_paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="right__arrow">
          <svg width="16" height="16" class="right">
            <use href="./images/icons-svg.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="card-container">
      <div class="cream coffee">
				<div class="cream_picture">
					<img class="cofeepicture" src="./images/coffeepicturebig.png" alt="coffee" />
				</div>
        <p class="cream_title">ice coffee</p>
        <svg class="brown_points" width="25" height="25">
          <use href="./images/icons-svg.svg#brown-points"></use>
        </svg>
        <p class="cream_paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="right__arrow">
          <svg width="16" height="16" class="right">
            <use href="./images/icons-svg.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="card-container">
      <div class="cream milkshakes">
				<div class="cream_picture">
					<img class="milkshakepicture" src="./images/milkshakepicturebig.png" alt="milkshakes" />
				</div>
        <p class="cream_title">milkshakes</p>
        <svg class="brown_points" width="25" height="25">
          <use href="./images/icons-svg.svg#brown-points"></use>
        </svg>
        <p class="cream_paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="right__arrow">
					<svg width="16" height="16" class="right">
						<use href="./images/icons-svg.svg#right-arrow"></use>
					</svg>
				</button>
      </div>
    </li>
  </ul>
</section>
