<section class="section">
  <h3 class="natural">100% natural</h3>
  <h2 class="title-principal">Products</h2>
  <ul class="conteiner">
    <li class="item">
      <div class="cream">
        <img class="cream_picture" src="./images/home1.png" alt="ice cream" />
        <h2 class="cream_title">ice cream</h2>
        <svg class="brown_points" width="25" height="25">
          <use href="./images/icons-svg.svg#brown-points"></use>
        </svg>
        <p class="cream_paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="right__arrow">
          <svg width="16" height="16" class="right">
            <use href="./images/icons-svg.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="item">
      <div class="coffee">
        <img class="coffee_picture" src="./images/home2.png" alt="coffee" />
        <h2 class="coffee_title">ice coffee</h2>
        <svg class="brown_points" width="25" height="25">
          <use href="./images/icons-svg.svg#brown-points"></use>
        </svg>
        <p class="coffee_paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="right__arrow">
          <svg width="16" height="16" class="right">
            <use href="./images/icons-svg.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="item">
      <div class="milkshakes">
        <img
          class="milkshakes_picture"
          src="./images/home3.png"
          alt="milkshakes"
        />
        <h2 class="milkshakes_title">milkshakes</h2>
        <svg class="brown_points" width="25" height="25">
          <use href="./images/icons-svg.svg#brown-points"></use>
        </svg>
        <p class="milkshakes_paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="right__arrow">
          <svg width="16" height="16" class="right">
            <use href="./images/icons-svg.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</section>
