<section class="section">
  <ul class="section__flex">
    <li><img src="./images/frozen1.jpg" alt="rich ice cream" /></li>
    <li><img src="./images/frozen-rosa2.jpg" alt="rich ice cream" /></li>
    <li><img src="./images/frozen-rosa3.jpg" alt="rich ice cream" /></li>
    <li>
      <img src="./images/frozen-crem4.jpg" alt="rich ice cream" />
    </li>
    <li><img src="./images/frozen-chica5.jpg" alt="rich ice cream" /></li>
    <li>
      <img src="./images/frozen-strawberry6.jpg" alt="rich ice cream" />
    </li>
    <li><img src="./images/frozen-city7.jpg" alt="rich ice cream" /></li>
    <li><img src="./images/frozen-dog8.jpg" alt="rich ice cream" /></li>
    <li>
      <img src="./images/frozen- yellow9.jpg" alt="rich ice cream" />
    </li>
    <li>
      <img src="./images/frozen-batido10.jpg" alt="rich ice cream" />
    </li>
  </ul>
  <div class="section__testimonial">
    <div>
      <img
        src="./images/testimonials1 1.jpg"
        alt="testimonio cliente satisfecho"
      />
    </div>
  </div>
  <div class="section__style">
    <div class="section__comillas">
      <svg class="section__positions-svg" width="44" height="26">
        <use href="./images/icons-svg.svg#quotes"></use>
      </svg>
    </div>
    <p class="section__tex">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
  </div>
  <div class="section__puntos">
    <svg class="section__puntos-decoration" width="64" height="66">
      <use href="./images/icons-svg.svg#three-points"></use>
    </svg>
  </div>
  <div class="section__emily">
    <h3 class="section__h3">Emily, Los Angeles</h3>
  </div>

  <div>
    <ul class="section__house">
      <li>
        <div>
          <svg width="24" height="16">
            <use href="./images/icons-svg.svg#house-icon"></use>
          </svg>
        </div>
      </li>
      <li>
        <div>
          <svg width="24" height="16">
            <use href="./images/icons-svg.svg#gray-point"></use>
          </svg>
        </div>
      </li>
      <li>
        <div>
          <svg width="24" height="16">
            <use href="./images/icons-svg.svg#gray-point"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
