<section class="container">
	<div class="base">
		<div class="section__flex">
			<div class="section__icecream-1">
				<img src="./images/gallery1.png" alt="rich ice cream " class="scale"/>
			</div>
			<div class="section__icecream-2">
				<img src="./images/gallery2.png" alt="rich ice cream" class="scale"/>
			</div>
			<div class="section__icecream-3">
				<img src="./images/gallery3.png" alt="rich ice cream" class="scale"/>
			</div>
			<div class="section__icecream-4">
				<img src="./images/gallery4.png" alt="rich ice cream" class="scale"/>
			</div>
			<div class="section__icecream-5">
				<img src="./images/gallery5.png" alt="rich ice cream" class="scale"/>
			</div>
			<div class="section__icecream-6">
				<img src="./images/gallery6.png" alt="rich ice cream" class="scale"/>
			</div>
			<div class="section__icecream-7">
				<img src="./images/gallery7.png" alt="rich ice cream" class="scale"/>
			</div>
			<div class="section__icecream-8">
				<img src="./images/gallery8.png" alt="rich ice cream" class="scale"/>
			</div>
			<div class="section__icecream-9">
				<img
					src="./images/gallery9.png"
					alt="rich ice cream"
					class="scale"
				/>
			</div>
			<div class="section__icecream-10">
				<img
					src="./images/gallery10.png"
					alt="rich ice cream"
					class="scale"
				/>
			</div>
  	</div>
	</div>
  <div class="section__testimonial">
		<div class="testimonial1">
			<img src="./images/testimonials1.png" alt="testimonio cliente satisfecho" />
			<div class="carousel">
				<p class="leftdirection__blank"></p>
				<div class="section__style">
					<div class="section__comillas">
						<svg class="section__positions-svg" width="44" height="26">
							<use href="./images/icons-svg.svg#quotes"></use>
						</svg>
					</div>
					<p class="section__tex">
						Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
						sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
						nibh vel risus.
					</p>
				</div>
				<p class="rightdirection__blank"></p>
			</div>
			<div class="section__puntos">
				<svg class="section__puntos-decoration" width="50" height="10">
					<use href="./images/icons-svg.svg#brown-points"></use>
				</svg>
			</div>
			<div class="section__emily">
				<h3 class="section__h3">Emily, Los Angeles</h3>
			</div>
			<ul class="section__house">
				<li>
					<svg class="section__house-color2" width="24" height="16">
						<use href="./images/icons-svg.svg#house-icon"></use>
					</svg>
				</li>
				<li>
					<svg class="section__house-color" width="24" height="16">
						<use href="./images/icons-svg.svg#gray-point"></use>
					</svg>
				</li>
				<li>
					<svg class="section__house-color" width="24" height="16">
						<use href="./images/icons-svg.svg#gray-point"></use>
					</svg>
				</li>
			</ul>
		</div>
		<div class="testimonial2">
			<img src="./images/testimonials2.png" alt="testimonio cliente satisfecho" />
			<div class="carousel2">
				<p class="leftdirection__blank"></p>
				<div class="section__style">
					<div class="section__comillas">
						<svg class="section__positions-svg" width="44" height="26">
							<use href="./images/icons-svg.svg#quotes"></use>
						</svg>
					</div>
					<p class="section__tex">
						Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
						sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
						nibh vel risus.
					</p>
				</div>
				<p class="rightdirection">></p>
			</div>
			<div class="section__puntos">
				<svg class="section__puntos-decoration" width="50" height="10">
					<use href="./images/icons-svg.svg#brown-points"></use>
				</svg>
			</div>
			<div class="section__emily">
				<h3 class="section__h3">Laura, Miami</h3>
			</div>
			<ul class="section__house">
				<li>
					<svg class="section__house-color" width="24" height="16">
						<use href="./images/icons-svg.svg#gray-point"></use>
					</svg>
				</li>
				<li>
					<svg class="section__house-color2" width="24" height="16">
						<use href="./images/icons-svg.svg#house-icon"></use>
					</svg>
				</li>
				<li>
					<svg class="section__house-color" width="24" height="16">
						<use href="./images/icons-svg.svg#gray-point"></use>
					</svg>
				</li>
			</ul>
		</div>
		<div class="testimonial3">
			<img src="./images/testimonials3.png" alt="testimonio cliente satisfecho" />
			<div class="carousel3">
				<p class="leftdirection"><</p>
				<div class="section__style">
					<div class="section__comillas">
						<svg class="section__positions-svg" width="44" height="26">
							<use href="./images/icons-svg.svg#quotes"></use>
						</svg>
					</div>
					<p class="section__tex">
						Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
						sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
						nibh vel risus.
					</p>
				</div>
				<p class="rightdirection__blank"></p>
			</div>
			<div class="section__puntos">
				<svg class="section__puntos-decoration" width="50" height="10">
					<use href="./images/icons-svg.svg#brown-points"></use>
				</svg>
			</div>
			<div class="section__emily">
				<h3 class="section__h3">Agata, California</h3>
			</div>
			<ul class="section__house">
				<li>
					<svg class="section__house-color" width="24" height="16">
						<use href="./images/icons-svg.svg#gray-point"></use>
					</svg>
				</li>
				<li>
					<svg class="section__house-color" width="24" height="16">
						<use href="./images/icons-svg.svg#gray-point"></use>
					</svg>
				</li>
				<li>
					<svg class="section__house-color2" width="24" height="16">
						<use href="./images/icons-svg.svg#house-icon"></use>
					</svg>
				</li>
			</ul>
		</div>
	</div>
</section>
