<div class="tradition section">
  <div class="tradition__titles">
    <p class="tradition__titles--title1">Tradition and Love</p>
    <p class="tradition__titles--title2">How it's made?</p>
  </div>
  <div class="tradition__bg">
    <div class="tradition__info">
      <div class="tradition__picture">
        <img class="traditionpic" src="./images/traditionpic.png" alt="Milk and cow" />
      </div>
      <div class="tradition__expo">
        <p class="tradition__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
          delectus totam inventore fugiat magni aut, dolore voluptatem quia
          assumenda eaque aperiam. Explicabo odit quaerat nulla consectetur
          maiores, perspiciatis aliquam quasi?
				</p>
				<p class="tradition__text--2">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
					delectus totam inventore fugiat magni aut, dolore voluptatem quia
					assumenda eaque aperiam. Explicabo odit quaerat nulla consectetur
					maiores, perspiciatis aliquam quasi?<br />Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Quis laudantium ad animi id qui enim
          saepe iure magni perspiciatis alias sapiente, fuga maiores obcaecati
          dolore! Nobis pariatur sed odio debitis?
        </p>
        <button class="button__header">Read more ></button>
      </div>
    </div>
    <div class="tradition__features">
      <div class="tradition__card">
        <div>
          <svg class="tradition__card--svg" width="50px" height="50px">
            <use href="./images/icons-svg.svg#milk"></use>
          </svg>
        </div>
        <span class="tradition__card--number">721</span>
        <p class="tradition__card--text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="tradition__card">
        <div>
          <svg class="tradition__card--svg" width="50px" height="50px">
            <use href="./images/icons-svg.svg#fruits"></use>
          </svg>
        </div>
        <span class="tradition__card--number">16kg</span>
        <p class="tradition__card--text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="tradition__card">
        <div>
          <svg class="tradition__card--svg2" width="50px" height="50px">
            <use href="./images/icons-svg.svg#lollipop"></use>
          </svg>
        </div>
        <span class="tradition__card--number">84</span>
        <p class="tradition__card--text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</div>
